.items {
	padding: 0 20px;
}

.items__label {
	display: flex;
	padding-bottom: 5px;
	border-bottom: 1px solid #000;
	margin-bottom: 15px;
}

.items__input {
	margin: 0;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.items__span {
	font-size: 20px;
	line-height: 18px;
}

.active {
	text-decoration: line-through;
}
